@import "func.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: white;  
  overflow: overlay;
}
:root {
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
  cursor: default;
  overflow-wrap: break-word;
}
textarea {padding: 4px 8px;width: 100%;height: 100%;}
input[type=text],input[type=password],input[type=date],input[type=month],input[type=time] {
  width: 120px;
  height: 26px;
  padding: 4px 8px 3px;
  border-radius: 2px;
  border: solid 1px #c2c5c8;
  background-color: #fff;
  &:disabled {
    border-radius: 2px;
    border: solid 1px #e2e5e9;
    background-color: #f8f7f7;
    color: #c2c5c8;
  }
}
input[type=date],input[type=month],input[type=time] {
  position: relative;
  // height: 100%;
  padding-left: 10px;
  border-radius: 2px;
  border: solid 1px #c2c5c8;
  background-color: #fff;
  font-size: 12px;  
  text-align: left;
  color: #111;
}
input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button,
input[type=time]::-webkit-clear-button,
input[type=time]::-webkit-inner-spin-button,
input[type=month]::-webkit-clear-button, 
input[type=month]::-webkit-inner-spin-button{
  display: none;
}
input[type=date]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-calendar-picker-indicator,
input[type=month]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
}

input[type=date]:after,input[type=month]:after {
  position: absolute;
  // top: 50%;
  right: 8px;
  width: 9px;
  height: 9px;

  content: url("../assets/ic_input_cal.png");
  transform: translateY(-50%);
  z-index: 0;
}
input[type=time]:after {
  position: absolute;
  // top: 50%;
  right: 8px;
  width: 9px;
  height: 9px;

  content: url("../assets/ic_input_clock.png");
  transform: translateY(-50%);
  z-index: 0;
}

input[type="checkbox"] {
  white-space: nowrap;
  appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  outline: none !important;
  border: 1px solid #e2e5e9;
  border-radius: 2px;
  background: #fff;

  &::before {
    content: url("../assets/bt_checkbox_s.png");
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
  }
  &:disabled {
    border-color: #e2e5e9;
    background-color: #f8f7f7;
  }
  &:hover {
    background-color: rgba(27, 193, 219, 0.1);
  }

  &:checked {
    border-color: #c2c5c8;
    color: #172d5a;

    &::before {
      border-radius: 2px;
      transform: scale(1) translate(-50%, -43%);
    }
  }

}

select {
  width: 100%;
  height: 100%;
  appearance: none;
  border: none;
  
  cursor: pointer;    
  font-size: 12px;
  letter-spacing: -0.35px;
  text-align: left;
  color: rgba(40, 42, 63, 0.83);

  text-overflow: ellipsis;

  background: url(../assets/ic_input_down.png) no-repeat center right 8px;
  border-radius: 2px;  
  background-color: #fff;
  padding: 3px 8px 2px;  

  option {
    height: 26px;
    font-size: 12px;    
    color: rgba(20, 31, 64, 0.83);
    border: 1px solid #c2c5c8;
  }  
}
.radio-group { 
  display: flex;
  align-items: center;
  position: relative; 
  display: flex;
  align-items: center;

  label{    
    white-space: nowrap;
     height: 26px;      
     padding-left:20px; 
     display:flex; 
     align-items: center;
     background:url(../assets/bt_radio_n.svg) no-repeat; 
     background-size: 16px;
     background-position-y: center;
     vertical-align:middle; 
     cursor:pointer;
     &:not(:nth-child(2)) {margin-left: 20px;}
     font-size: 13px;     
     line-height: 1.54;          
     color: #152c5b;
  }

  input[type="radio"]{
      width:1px; 
      height:1px; 
      padding:0; 
      border:0 none; 
      margin:0; 
      position:absolute; 
      left:0; 
      top:0; 
      overflow:hidden;
      clip:rect(0 0 0 0);

      &:checked + label{ 
        white-space: nowrap;
        background:url(../assets/bt_radio_s.svg) no-repeat;  
        background-size: 16px;
        background-position-y: center;
      }
      
      &:disabled + label{ 
        background:url(../assets/bt_radio_d.svg) no-repeat;  
        background-size: 16px;
        background-position-y: center;
      }
      // &:disabled:checked + label{ background:url(../assets/c_ic_radiobox_selected_disabled.svg);  }      
  }
 
  
}
.quantity {
  height: 100%;
  input {
    width: 100%;
    height: 100%;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
  }
} 

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 26px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #e2e5e9;
  width: 23px;  
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #e2e5e9;  
  background: url(../assets/ic_input_up.png) no-repeat center right 8px;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: 0;
  height: 50%;
  background: url(../assets/ic_input_down.png) no-repeat center right 8px;
}
.input-group {
  max-width: 260px;
  min-width: 120px;
  height: 26px;
  border-radius: 2px;
  border: solid 1px #c2c5c8;
  background-color: #fff;
}
.input-check-group {  
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  font-size: 13px;
  font-weight: 500;  
  color: #152c5b;

}
.check-box {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 4px;
}
.input-time-group, .input-text-group, .input-date-group {
  @include flex_center;
  gap: 4px;
  height: 100%;
  font-size: 13px;
  font-weight: 500;  
  color: #152c5b;
   input[type="time"] {
    flex: 1;
    height: 100%;    
  }
}
.select-box {
  height: 100%;
  width: 100%;
  position: relative;
  .btn-select {
    display: flex;
    align-items: center;    
    width: 100%;
    height: 100%;
    background: url(../assets/ic_input_down@3x.png) center right 15px no-repeat;   
    background-size: 8px; 
    font-size: 11px;
    font-weight: bold;    
    line-height: 2.55;    
    color: #111;
  }
  ul.list-member {
    display: none;
    position: absolute;
    z-index: 3;
    right: 0;
    top: calc(100% + 1px);
    background: #fff;
    li {
      white-space: nowrap;      
    }
  }
  
  .btn-select.on+.list-member {
      display: block;
  }
}

.list-btn-group {
  display: flex;  
  gap: 10px; 
  font-size: 12px;

  button {height: 24px;padding: 3px 10px 2px;}
}
.con-box {
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}
.edit-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #444;
  button {
    padding: 3px 10px 2px;
    height: 24px;
    @include flex_center;
    gap: 7px;
  }
}
.flex-1 {flex: 1;}
.flex-between {justify-content: space-between;}
.flex-row {display: flex;gap: 10px;}
.flex-col {display: flex;flex-direction: column;gap: 10px;}
.gap-10 {gap: 10px !important;}
.gap-15 {gap: 15px !important;}
.gap-20 {gap: 20px !important;}
.w-auto {width: auto !important;}
.w-120 {width: 120px;}
.w-160 {width: 160px !important;}
.search-btn-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 80px;              
  line-height: 1.58;                
  .btn-search {
    height: 26px;  
    img {
      content: url(../assets/ic_bt_search@3x.png);
      width: 11px;
      height: 11px;
      margin-right: 18px;
    }          
  }
  .btn-clear {                
    height: 26px;   
    img {
      content: url(../assets/ic_bt_reset@3x.png);
      width: 11px;
      height: 11px;
      margin-right: 12px;
    }                  
  }
}
.setting-grid {
  display: grid;
  grid-template-columns: 110px 1fr 110px 1fr 110px 1fr;
  grid-template-rows: 26px;
  grid-auto-flow: row;
  gap: 10px;
  .setting-grid-title {      
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 26px;  
    white-space: nowrap;
    text-align: right;

    font-size: 12px;
    font-weight: bold;    
    color: #444444;
  }
  .setting-grid-content {   
    font-size: 12px;
    font-weight: 500;    
    color: #152c5b;
  
    max-width: 260px;  
    min-width: 120px; 
    .text-edit{
      background: #fff7e4;
      select {
        background-color: #fff7e4;
      }
    }
    .input-wrapper{
      position: relative;
      input[type="text"] {width: 100%;}
      display: flex;
      gap: 10px;

      &.text-edit input{
        background: #fff7e4;
      }
    }
  }
  .span-3 {grid-column: span 3; width: calc(100% - ((100% - 650px) / 2));}  

  &.grid-check-line {
    grid-template-columns: 110px 1fr;
    grid-template-rows: auto;
    .setting-grid-content {
      width: auto;
      .input-check-group {
        gap: 0;
        
        .check-box {
          display: flex;
          align-items: center;
          height: 26px;width: 125px;
        }
      }
    }
  }
}

.setting-etc {
  margin-top: 10px;
  display: flex;
  &:not(:has(.no-padding)){padding-right: 100px;}  
  .setting-etc-property {
    flex: 1;
    display: flex;
    gap: 10px;
    .etc-title {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 26px;  
      width: 110px;
      white-space: nowrap;
      text-align: right;

      font-size: 12px;
      font-weight: bold;    
      color: #5c7099;
    }    
    .etc-text-box {
      width: 259px;
      height: 82px;      
      border-radius: 2px;
      border: solid 1px #c2c5c8;
      background-color: #fff;
      font-size: 12px;
      font-weight: 500;  
      color: #152c5b;
    }
  }
}
.add-pic-wrap {
  display: flex;
  gap: 10px;
  .btn-l-pic-add {
    text-align: center;
    cursor: pointer;
    @include flex_center;    
    flex-direction: column;
    gap: 4px;
    width: 80px;
    height: 80px;        
    border-radius: 2px;
    border: dashed 1px #c2c5c8;
    background-color: #fff;
    font-size: 11px;
    font-weight: 500;                
    color: #5c7099;
    img {
      content: url(../assets/ic_add@3x.png);
      width: 12px;
      height: 12px;
    }
  }      
  .pic-detail {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    img{
      width: 80px;
      height: 80px;
    }
    .btn-pic-delete {
      cursor: pointer;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 4px;
      right: 4px;
      background: url(../assets/bt_img_del@3x.png) no-repeat;
      background-size : 16px;
      z-index: 3;
    }
    .pic-name {
      font-size: 12px;
      font-weight: 500;          
      color: #172d5a;
    }
  }
}
.btn-green {
  @include flex_center;
  border-radius: 2px;
  border: solid 1px #028f69;
  background-color: #028f69; 
  color: #fff; 
}
.btn-white {
  @include flex_center;
  border-radius: 2px;
  border: solid 1px #ccc;
  background-color: #fff;
  color: #444;
}
.ic-title-nece {
  &::before {
    content: "*";
    // padding-right: 2px;
    color: #e80000;
    font-size: 14px;
    font-weight: 500;
  }
}
.ic-title-mark {
  display: flex;
  align-items: center;
  &::before {
    display: block;
    content: "";
    width: 3px;
    height: 13px;  
    margin: 4px 6px 5px 0;

    background-color: #172d5a;
  }
}
.ic-dot {
  display: flex;
  align-items: center;
  &::before {
    display: block;
    content: "";
    width: 3px;
    height: 3px;  
    margin: 12px 3px 11px 0;

    background-color: #172d5a;
  }
}
.list-title {
  font-size: 14px;
  font-weight: bold;                
  line-height: 2;                
  color: #152c5b;
}
#modal-background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
#modal-background {z-index: 10;}
.modal-con {z-index: 20;}
.modal-con {  
  display: none;
  flex-direction: column;  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f4f5f5;
  
  .modal-top {   
    padding: 0 10px;
    margin-bottom: 10px;
    height: 40px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    .box-title {
      font-size: 14px;
      font-weight: bold;      
      color: #172d5a;
    }
  }
  .modal-body {
    padding: 0 10px;
    flex: 1;

    .search-conditions {
      display: flex;
      .setting-grid {
        flex: 1;        
        grid-template-columns: 90px 1fr 90px 1fr;
      }
    }
  }
  .modal-bottom {
    @include flex_center;
    gap: 7px;
    margin: 10px 0;    
    button {
      @include flex_center;
      padding: 3px 10px 2px;
      border-radius: 2px;
      border: solid 1px #9aa6b8;      
      font-size: 12px;
      font-weight: bold;        
    }
  }
}

ul.list-tab {
  width: 100%;
  border-bottom: 1px solid #c2c5c8;
  display: flex;
  gap: 4px;
  justify-content: flex-start;
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  li.list-tab-menu {
    cursor: pointer;
    height: 24px;  
    padding: 3px 10px 2px;
    border: solid 1px #c2c5c8;
    background-color: #fff;
    color: #888;
    border-radius: 2px;
    border: solid 1px #c2c5c8;
    background-color: #fff;
    &.on {
      border: solid 1px #172d5a;
      color: #172d5a;    
    }
  }
}
.list-tab-content {
  display: none;
  width: 100%;
  &.active {display: flex;flex: 1;}
  .list-grid-wrapper {
    @include flex_center; flex: 1;

  }
  .search-list {flex: 1;}
}
@include menu_images(ic_left_01);
@include menu_images(ic_left_02);
@include menu_images(ic_left_03);
@include menu_images(ic_left_04);
@include menu_images(ic_left_05);
@include menu_images(ic_left_06);
@include menu_images(ic_left_07);

.ic-bookmark {  
  content: url(../assets/ic_bookmark_off@3x.png);
  width: 18px;
  height: 18px;
  margin-right: 4px;
  &.on {
    content: url(../assets/ic_bookmark_on@3x.png);
  }
}

.ic-tab-close {  
  content: url(../assets/ic_tab_close@3x.png);
  width: 8px;
  height: 8px;
  margin-left: 10px;
}

.ic-home {
  content: url(../assets/ic_home@3x.png);
  width: 12px;
  height: 10px;  
}

.ic-navi-arrow {
  content: url(../assets/ic_navi_arrow@3x.png);
  width: 6px;
  height: 9px;  
}

.ic-arrow-down {
  content: url(../assets/ic_left_open@3x.png);
  width: 10px;
  height: 10px;  
  transform:rotate(90deg);
}
.ic-bt-add {
  content: url(../assets/ic_bt_add@3x.png);
  width: 11px;
  height: 11px;  
}
.ic-bt-delete {
  content: url(../assets/ic_bt_delete@3x.png);
  width: 11px;
  height: 11px;  
}
.ic-bt-reset {
  content: url(../assets/ic_bt_reset@3x.png);
  width: 11px;
  height: 11px;  
}
.ic-line-plus {
  content: url(../assets/ic_line_plus@3x.png);
  width: 11px;
  height: 11px;  
}
.ic-line-minus {
  content: url(../assets/ic_line_minus@3x.png);
  width: 11px;
  height: 11px;  
}
.ic-edit {
  content: url(../assets/ic_edit@3x.png);
  width: 11px;
  height: 11px;  
}
.ic-register {
  content: url(../assets/ic_register@3x.png);
  width: 11px;
  height: 11px;  
}
.ic-bt-save {
  content: url(../assets/ic_bt_save@3x.png);
  width: 11px;
  height: 11px;  
}
.ic-bt-list-move {
  content: url(../assets/ic_bt_list_move@3x.png);
  width: 11px;
  height: 11px;  
}
.bt-popup-close {
  background: url(../assets/bt_popup_close.svg);
  width: 12px;
  height: 12px;  
}
.img-logo {
  content: url(../assets/img_logo@3x.png);
  width: 36px;
  height: 36px;  
}
.ic-left-help {
  content: url(../assets/ic_left_help@3x.png);
  width: 18px;
  height: 18px;  
}
.ic-left-user {
  content: url(../assets/ic_left_user@3x.png);
  width: 18px;
  height: 18px;  
}
.ic-left-logout {
  content: url(../assets/ic_left_logout@3x.png);
  width: 18px;
  height: 18px;  
}
.ic-input-down {
  content: url(../assets/ic_input_down@3x.png);
  width: 8px;
  height: 8px;
  margin-left: 10px;
}