@import url("reset.css");
@import url("common.css");
.login-wrapper {
  background: #f4f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-wrapper .login-wrap {
  padding: 70px 0 20px 0;
  width: 360px;
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 15px 0 rgba(42, 97, 255, 0.1);
          box-shadow: 0 3px 15px 0 rgba(42, 97, 255, 0.1);
  background-color: #fff;
}

.login-wrapper .login-wrap .login-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.login-wrapper .login-wrap .login-title-wrap .login-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  font-size: 22px;
  text-align: center;
  color: #111111;
}

.login-wrapper .login-wrap .login-title-wrap .login-title span {
  font-size: 12px;
  line-height: 1.08;
  color: #888888;
}

.login-wrapper .login-wrap .input-login-wrapper {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.login-wrapper .login-wrap .input-login-wrapper .ic-id {
  width: 240px;
  background: url(../assets/ic_login_id.svg) no-repeat 5% center;
  padding-left: 30px;
}

.login-wrapper .login-wrap .input-login-wrapper .ic-pw {
  width: 240px;
  background: url(../assets/ic_login_pw.svg) no-repeat 5% center;
  padding-left: 30px;
}

.login-wrapper .login-wrap .input-login-wrapper .btn-login {
  width: 240px;
  height: 35px;
  padding: 8px 104px;
  border-radius: 2px;
  background-color: #028f69;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.58;
  text-align: center;
  color: #fff;
}

.login-wrapper .login-wrap .input-login-wrapper .join-find {
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 11px;
  font-weight: 500;
  color: #888;
}

.login-wrapper .login-wrap .input-login-wrapper .join-find .v-line {
  width: 1px;
  height: 12px;
  background-color: #e2e5e9;
}

.login-wrapper .login-wrap .copyright {
  white-space: nowrap;
  height: 12px;
  margin: 74px 32px 0;
  opacity: 0.7;
  font-family: NotoSansCJKkr;
  font-size: 8px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #8591aa;
}

.wrapper {
  min-width: 1500px;
  min-height: 870px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.wrapper .btn-sidebar {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 17px;
  border-radius: 50%;
  background-color: #4abe88;
  left: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.wrapper .btn-sidebar img {
  content: url(../assets/ic_left_open@3x.png);
  width: 5px;
  height: 9px;
}

.wrapper .btn-sidebar.show img {
  content: url(../assets/ic_left_hide@3x.png);
  width: 5px;
  height: 9px;
}

.wrapper .sidebar-container {
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #c3cbd8;
  width: 240px;
}

.wrapper .sidebar-container .sidebar-header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54px;
  padding: 0 17px;
  background-color: #027f5d;
  font-size: 15px;
  line-height: 1.13;
  color: #fff;
}

.wrapper .sidebar-container .sidebar-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 60px;
  overflow-x: overlay;
  scroll-behavior: smooth;
  height: calc(100vh - 53px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #028f69;
}

.wrapper .sidebar-container .sidebar-menu-wrapper::-webkit-scrollbar {
  width: 6px;
  display: inline;
}

.wrapper .sidebar-container .sidebar-menu-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.wrapper .sidebar-container .sidebar-menu-wrapper::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 6px;
  background: #236a58;
}

.wrapper .sidebar-container .sidebar-menu-wrapper > .sidebar-main-menu > details > summary > .ic-submenu-open {
  content: url(../assets/ic_leftmenu_plus@3x.png);
  width: 8px;
  height: 8px;
}

.wrapper .sidebar-container .sidebar-menu-wrapper > .sidebar-main-menu > details[open] > summary > .ic-submenu-open {
  content: url(../assets/ic_leftmenu_minus@3x.png);
  width: 8px;
  height: 8px;
}

.wrapper .sidebar-container .sidebar-menu-wrapper details > ul > li > details > summary > .ic-submenu-open {
  content: url(../assets/ic_leftmenu_plus@3x.png);
  width: 8px;
  height: 8px;
}

.wrapper .sidebar-container .sidebar-menu-wrapper details > ul > li > details[open] > summary > .ic-submenu-open {
  content: url(../assets/ic_leftmenu_minus@3x.png);
  width: 8px;
  height: 8px;
}

.wrapper .sidebar-container .sidebar-menu-wrapper details summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  font-weight: bold;
  color: #dcfff5;
}

.wrapper .sidebar-container .sidebar-menu-wrapper details.depth1 {
  margin-bottom: 10px;
}

.wrapper .sidebar-container .sidebar-menu-wrapper details.depth1 summary {
  padding-right: 12px;
}

.wrapper .sidebar-container .sidebar-menu-wrapper details.depth1 summary .menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
  font-size: 14px;
  line-height: 1.57;
  padding-left: 20px;
}

.wrapper .sidebar-container .sidebar-menu-wrapper details.depth1 summary .menu-title.active {
  color: #fff;
}

.wrapper .sidebar-container .sidebar-menu-wrapper details.depth2 summary {
  width: 180px;
  padding-right: 10px;
  font-size: 13px;
  margin-left: 50px;
}

.wrapper .sidebar-container .sidebar-menu-wrapper details.depth2 summary .submenu-title {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .sidebar-container .sidebar-menu-wrapper details.depth2.active summary {
  width: 180px;
  height: 40px;
  border-radius: 4px;
  background-color: #34a889;
}

.wrapper .sidebar-container .sidebar-menu-wrapper details.depth2 ul.details-submenu {
  cursor: pointer;
  margin-left: 66px;
  border-left: 1px solid #93b6ac;
}

.wrapper .sidebar-container .sidebar-menu-wrapper details.depth2 ul.details-submenu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  font-size: 12px;
  font-weight: 500;
  color: #dcfff5;
}

.wrapper .sidebar-container .sidebar-menu-wrapper details.depth2 ul.details-submenu li.active {
  font-weight: bold;
  color: #fff;
  border-left: 2px solid #fff;
}

.wrapper .sidebar-container .sidebar-menu-wrapper ul.sidebar-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
  margin-bottom: 13px;
  padding-left: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  color: #dcfff5;
}

.wrapper .sidebar-container .sidebar-menu-wrapper ul.sidebar-bottom li {
  cursor: pointer;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .sidebar-container.show details.depth1 summary .menu-title {
  gap: 12px;
}

.wrapper .main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper .main-wrapper .header {
  margin: 10px 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  font-size: 11px;
  font-weight: bold;
  line-height: 2.55;
  color: #111;
}

.wrapper .main-wrapper .header .location {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main-wrapper .header .location .nav-home {
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #e8e8e8;
}

.wrapper .main-wrapper .header .location .nav-menu {
  position: relative;
  height: 100%;
  width: 180px;
  border-right: 1px solid #e8e8e8;
  padding-left: 10px;
}

.wrapper .main-wrapper .header .location .nav-menu .btn-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  font-size: 11px;
  font-weight: bold;
  line-height: 2.55;
  color: #111;
}

.wrapper .main-wrapper .header .location .nav-menu ul.menu-list {
  min-width: 180px;
  display: none;
  position: absolute;
  z-index: 3;
  left: 0;
  top: calc(100% + 2px);
  padding: 10px;
  font-weight: normal;
}

.wrapper .main-wrapper .header .location .nav-menu ul.menu-list li {
  white-space: nowrap;
}

.wrapper .main-wrapper .header .nav-favorite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 96px;
  padding-left: 10px;
  border-left: 1px solid #e8e8e8;
  height: 100%;
  position: relative;
}

.wrapper .main-wrapper .header .nav-favorite .btn-favorite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 11px;
  font-weight: bold;
  line-height: 2.55;
  color: #111;
}

.wrapper .main-wrapper .header .nav-favorite ul.fa-list {
  display: none;
  position: absolute;
  z-index: 3;
  right: 0;
  top: calc(100% + 2px);
  padding: 10px;
  font-weight: normal;
}

.wrapper .main-wrapper .header .nav-favorite ul.fa-list li {
  white-space: nowrap;
}

.wrapper .main-wrapper #content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .main-wrapper #content .content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  background: #fff;
  height: 100%;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents {
  height: calc(100% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 11px;
  font-weight: 500;
  color: #7d8fb2;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .location .nav-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-conditions {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #5c7099;
  padding: 10px;
  border-radius: 4px;
  background-color: #eff3f2;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-conditions.detail {
  margin-bottom: 17px;
  height: 82px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-conditions .btn-search-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  cursor: pointer;
  position: absolute;
  bottom: -17px;
  width: 64px;
  height: 17px;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 15px 0 rgba(42, 97, 255, 0.1);
          box-shadow: 0 3px 15px 0 rgba(42, 97, 255, 0.1);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  font-size: 10px;
  font-weight: bold;
  color: #8591aa;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-conditions .btn-search-detail img {
  content: url(../assets/ic_left_open@3x.png);
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-conditions .btn-search-detail.open img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-conditions .setting-grid {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-conditions .setting-grid .input-wrapper select {
  width: 140px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents > .search-list:not(.unflex1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .unflex1 {
  min-height: 110px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list .list-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list .list-top .list-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  color: #152c5b;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list .list-top .list-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 12px;
  line-height: 1.58;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list .list-top .list-btn-group .btn-delete {
  width: 58px;
  height: 24px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list .list-top .list-btn-group .btn-delete img {
  content: url(../assets/ic_bt_delete@3x.png);
  width: 11px;
  height: 11px;
  margin-right: 6px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list .list-top .list-btn-group .btn-save {
  width: 58px;
  height: 24px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list .list-top .list-btn-group .btn-save img {
  content: url(../assets/ic_bt_save@3x.png);
  width: 11px;
  height: 11px;
  margin-right: 6px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list .list-grid-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main-wrapper .tab-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.wrapper .main-wrapper .tab-container .tab-arrow-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  height: 28px;
}

.wrapper .main-wrapper .tab-container .tab-arrow-wrapper .btn-tab-arrow {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 28px;
  border: solid 1px #c6c6c6;
  background-color: #fff;
}

.wrapper .main-wrapper .tab-container .tab-arrow-wrapper .btn-tab-arrow.left img {
  content: url(../assets/ic_tab_arrow_left_d@3x.png);
  width: 5px;
  height: 8px;
}

.wrapper .main-wrapper .tab-container .tab-arrow-wrapper .btn-tab-arrow.left.on img {
  content: url(../assets/ic_tab_arrow_left_n@3x.png);
}

.wrapper .main-wrapper .tab-container .tab-arrow-wrapper .btn-tab-arrow.right img {
  content: url(../assets/ic_tab_arrow_right_d@3x.png);
  width: 5px;
  height: 8px;
}

.wrapper .main-wrapper .tab-container .tab-arrow-wrapper .btn-tab-arrow.right.on img {
  content: url(../assets/ic_tab_arrow_right_n@3x.png);
}

.wrapper .main-wrapper .tab-container ul.tab {
  overflow: hidden;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border: solid 1px #c6c6c6;
  border-right: none;
}

.wrapper .main-wrapper .tab-container ul.tab li.tab-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #e8e8e8;
  font-size: 11px;
  font-weight: 500;
  color: #888;
}

.wrapper .main-wrapper .tab-container ul.tab li.tab-menu.on {
  font-weight: bold;
  color: #028f69;
  background: #eff3f2;
  border-bottom: 2px solid #028f69;
}

.DSE001 .list-wrapper, .DSE002 .list-wrapper, .DSE004 .list-wrapper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  background: #fff;
}

.DSE001 .list-wrapper .search-list, .DSE002 .list-wrapper .search-list, .DSE004 .list-wrapper .search-list {
  width: calc((100% - 130px) / 3);
}

.DSE001 .list-wrapper .search-edit, .DSE002 .list-wrapper .search-edit, .DSE004 .list-wrapper .search-edit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.DSE001 .list-wrapper .search-edit:not(:has(.grid-check-line)), .DSE002 .list-wrapper .search-edit:not(:has(.grid-check-line)), .DSE004 .list-wrapper .search-edit:not(:has(.grid-check-line)) {
  padding-right: 100px;
}

.DSE001 .list-wrapper .search-edit .setting-grid, .DSE002 .list-wrapper .search-edit .setting-grid, .DSE004 .list-wrapper .search-edit .setting-grid {
  -ms-grid-columns: 110px 1fr 110px 1fr;
      grid-template-columns: 110px 1fr 110px 1fr;
}

.DSE001 .list-wrapper .search-edit .setting-grid.grid-check-line, .DSE002 .list-wrapper .search-edit .setting-grid.grid-check-line, .DSE004 .list-wrapper .search-edit .setting-grid.grid-check-line {
  -ms-grid-columns: 110px 1fr;
      grid-template-columns: 110px 1fr;
}

.DSE002 .setting-grid-content {
  max-width: initial;
}

.DSE009 .list-wrapper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  background: #f4f5f5;
}

.DSE009 .list-wrapper .search-list {
  width: calc((100% - 130px) / 3);
}

.DSE009 .list-wrapper .search-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.DSE009 .list-wrapper .search-info .info-detail1 {
  height: 78px;
}

.DSE009 .list-wrapper .search-info .info-detail2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.DSE009 .list-wrapper .search-info .info-detail2 .info-picture {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.DSE009 .list-wrapper .search-info .info-detail2 .info-edit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.DSE009 .list-wrapper .search-info .info-detail2 .info-edit .setting-grid {
  -ms-grid-columns: 110px 1fr;
      grid-template-columns: 110px 1fr;
}

.DSE010 .btn-end {
  height: 24px;
  padding: 3px 10px 2px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */